@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> <h1 style="color:darkviolet";font-size:100px;font-weight:bold>Universidad de las Americas</h1>
        <h2 class="display-4"> <h2 style="color:crimson" ;font-size:100px;font-weight:bold>Ingrese Querido estudiante ara que pueda registrar su auto</h2>
        <button> Ingresar   </button>

</div>
